/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	position: relative;
	height: 100vh;
	width: 100%;
	font-size: 100%;
	color: white;
	line-height: 1;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #0a001b;
	/* overflow: hidden; */
	
	background-position: center;
	background-size: cover;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('../img/photo_2024-08-11_03-36-19-_2_.webp');
	filter: brightness(0.3);

	background-position: center;
	background-size: cover;
}



input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.coverAll {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	/* border: green 1px solid; */
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	overflow: auto;
}


.coverMain {
	display: flex;
	justify-content: center;
    align-items: center;
	/* border: #ce0e0e 1px solid; */
	flex: 1 1 auto;
} 


.container {
	display: grid;
	grid-template-columns: 1fr min-content 1fr min-content;
	/* grid-template-rows: repeat(n, 1fr); */
	/* grid-template-rows: repeat(10, 50px); */
	/* max-width: 750px; */
	margin: 0 auto;
	column-gap: 15px;
	/* gap: 5px; */
	/* max-height: 20px; */
	/* border: royalblue 1px solid; */
	width: 100%;

}

.cover {
	max-width: 750px;
	margin: 20px;
	/* border: green 1px solid; */
	
}

.gridItem {
	padding: 15px;
}

.path {

}

.x2, .clear {
	/* height: 100%; */
	aspect-ratio: 1/1;
}

.exp {
	grid-column: span 2;
}

.rate {
	grid-column: span 2;
}



.clear {
	aspect-ratio: 1/1;
	/* background: red; */
	position: relative;
	/* grid-column: span 1; */
}

/* .clear:hover{
	background: rgb(167, 167, 167);
} */

.clear:active {
	background: red;
}

.volume, .cost {
	grid-column: span 2;
	width: 1fr;
}

.gridTitle {
	grid-column: span 2;
	margin-left: 15px;

}

.gridLongTitle {
	grid-column: span 4;
	margin-left: 15px;

}

.parsInfo {
	color: rgb(117, 117, 117);
	margin-top: 4px;
	font-size: 12px;	
}

input, button, select, output {
	color: black;
	background-color: white;
	font-size: 24px;
	width: 100%;
	/* padding: 15px; */
	font-size: 24px;
	border-radius: 10px;
	opacity: 0.8;
}

input:focus {

	box-shadow: 0 0 10px 5px #006400;

}

a {
	color: inherit;
}

.clear svg {
	position: absolute;
	top: 50;
	left: 50;
	transform: translate(-50%, -50%);
}

label {
	margin-top: 25px;
	margin-bottom: 4px;

}

h1 {
	text-align: center;	
	margin-bottom: 20px;
}

footer {
	width: 100%;
	text-align: center;
	
	font-size: 18px;
	font-weight: 700;
	color: white;
	margin-bottom: 1px;
}

footer svg {
	margin-bottom: -2px;
}





@media (max-width: 850px) {
	h1 {
		font-size: 32px;
	}

	.background {
		background: url('../img/photo_2024-08-11_03-36-19.webp');
		width: 100%;
		height: 100vh;
		
		filter: brightness(0.3);

		background-position: center;
		background-size: cover;
	}
	
	.cover {
		/* width: 90%; */
	}
}

@media (max-width: 580px) {
	h1 {
		font-size: 28px;
	}

	label {
		font-size: 18px;
	}

	.gridTitle, .gridLongTitle {
		margin-left: 10px;
	}

	.container {
		/* gap: 15px; */
		column-gap: 10px;
		grid-template-columns: calc(50% - 15px) 0fr 1fr min-content;
		/* gap: 0; */

	}

	.path {
		grid-column: span 3;
	}

	.exp {
		grid-column: span 4;
		
	}

	.cover {
		width: 100%;
	}

	.gridTitleWrap {
		/* order: 1; */
		grid-row-start: 3;
	}

	input, select, button, output {
		font-size: 18px;
		/* padding: 10px; */
	}

	.gridItem {
		padding: 10px;
	}

	button svg {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 450px) {
	label {
		font-size: 12px;
	}
}

@media (max-width: 350px) {
	.gridTitle, .volume, .cost {
		grid-column: 4 span;
	}

	.gridTitleSwap2 {
		grid-row-start: 10;
		/* border: #ce0e0e 1px solid; */
		
	}
}
