@font-face {
	font-family: 'magistralc';
	src: url('../fonts/MagistralC\ Regular.woff2');
}

@font-face {
	font-family: 'magistralc black';
	src: url('../fonts/magistralblackc.woff2');
}

@font-face {
	font-family: 'magistralc bold';
	src: url('../fonts/magistralc-bold.woff2');
}

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	position: relative;
	height: 100vh;
	width: 100%;
	font-size: 100%;
	color: white;
	line-height: 1;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: 'magistralc bold'; */
	font-family: 'magistralc';
	/* letter-spacing: 0.03em; */
	/* letter-spacing: 1px; */

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #000000;
	background-position: center;
	background-size: cover;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('../img/photo_2024-08-11_03-36-19-_2_.webp');
	filter: brightness(0.3);
	background-position: center;
	background-size: cover;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

h1 {
	/* font-family: 'magistralc'; */

}

.coverAll {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.coverMain {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr min-content 1fr min-content;
	margin: 0 auto;
	column-gap: 15px;
	width: 100%;
}

.cover {
	max-width: 750px;
	margin: 20px;
}

.gridItem {
	padding: 15px;
}

.x2, .clear {
	aspect-ratio: 1;
}


.exp {
	grid-column: span 2;
}

.rate {
	grid-column: span 2;
}

.clear {
	aspect-ratio: 1;
	position: relative;
	transition: background-color 0.1s ease-out, transform 0.1s ease-out;
}

.clear:active {
	background: red;
	transform: scale(0.95);
}

.volume, .cost {
	grid-column: span 2;
	width: 1fr;
}

.gridTitle {
	grid-column: span 2;
	margin-left: 15px;

}

.gridLongTitle {
	grid-column: span 4;
	margin-left: 15px;

}

.parsInfo {
	color: rgb(117, 117, 117);
	margin-top: 4px;
	font-size: 12px;
}

label {
	margin-top: 25px;
	margin-bottom: 4px;

}

input, button, select, output, .x2 {
	/* display: block; */
	color: black;
	background-color: white;
	font-size: 24px;
	width: 100%;
	border-radius: 10px;
	opacity: 0.8;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'magistralc';
	/* letter-spacing: 0.03em; */

	/* letter-spacing: 1px; */
}

input:focus {
	box-shadow: 0 0 10px 5px #009a3c;
}

.x2 {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: background-color 0.1s ease-out, transform 0.1s ease-out;

}

.x2Checkbox {
	display: none;
}

/* Когда чекбокс выбран (галочка поставлена) */
.x2Checkbox:checked+.x2 {
	background-color: #009a3c;
	color: white;
	
	/* animation: scale 0.2s ease forwards; */
}

/* .x2Checkbox:not(:checked)+.x2 {
	background-color: white;
	animation: scale 0.2s ease reverse forwards;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
} */

a {
	color: inherit;
}

.clear svg {
	position: absolute;
	width: 70%;
	top: 50;
	left: 50;
	transform: translate(-50%, -50%);
}



h1 {
	text-align: center;
	margin-bottom: 20px;
}

footer {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: white;
	margin-bottom: 3px;
	letter-spacing: 1px;
}

footer svg {
	margin-bottom: -2px;
}

@media (max-width: 850px) {
	h1 {
		font-size: 32px;
	}

	.background {
		background: url('../img/photo_2024-11-28_14-07-50.webp');
		width: 100%;
		height: 100vh;
		filter: brightness(0.3);
		background-position: center;
		background-size: cover;
	}
}

@media (max-width: 580px) {
	h1 {
		font-size: 28px;
	}

	label {
		font-size: 18px;
	}

	.gridTitle, .gridLongTitle {
		margin-left: 10px;
	}

	.container {
		column-gap: 10px;
		grid-template-columns: calc(50% - 15px) 0fr 1fr min-content;
	}

	.path {
		grid-column: span 3;
	}

	.exp {
		grid-column: span 4;

	}

	.cover {
		width: 100%;
	}

	.gridTitleWrap {
		grid-row-start: 3;
	}

	input, select, button, output, .x2 {
		font-size: 18px;
	}

	.gridItem {
		padding: 10px;
	}

	button svg {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 450px) {
	label {
		font-size: 12px;
	}

	.x2 {
		padding-top: 11px;
	}
}

@media (max-width: 350px) {
	.gridTitle, .volume, .cost {
		grid-column: 4 span;
	}

	.gridTitleSwap2 {
		grid-row-start: 9;
	}
}
